/* Fonts */

@font-face {
    font-family: "Gelasio";
    src: url(./../../assets/fonts/Gelasio/Gelasio-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gelasio";
    src: url(./../../assets/fonts/Gelasio/Gelasio-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gelasio";
    src: url(./../../assets/fonts/Gelasio/Gelasio-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Arimo";
    src: url(./../../assets/fonts/Arimo/Arimo-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arimo";
    src: url(./../../assets/fonts/Arimo/Arimo-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Arimo";
    src: url(./../../assets/fonts/Arimo/Arimo-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Standart Reset Styles */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Arial, "Arimo", serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Gelasio", sans-serif;
    line-height: 1.3;
    font-weight: 400;
}

p {
    margin: 0 0 1rem;
    line-height: 1.6;
}

/* Grid */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Intro */

.intro {
    height: 90.8rem;
    padding-top: 6rem;
    background: url(./../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), rgb(33, 31, 32);
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.header a{
    text-decoration: none;
    text-align: center;
}

.header__logo {
    font-size: 3.2rem;
    color: #F1CDB3;
    line-height: 1.1;
    letter-spacing: 0.06em;
}

.header__sublogo {
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.15;
    margin: 1rem 0 0 0;
    letter-spacing: 0.1em;
}

.header__nav ul {
    letter-spacing: -0.36em;
    font-size: 0;
}

.header__nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 1.75rem;
}

.header__nav ul li .header__link-target.header__link::after {
   display: block;
}

.header__nav ul li:last-child {
    padding-right: 0;
}

.header__link {
    position: relative;
    color: #CDCDCD;
    font-size: 1.5rem;
    line-height: 1.6;

    transition: color 0.2s;
}

.header__link:hover {
    color: #FAFAFA;
}

.header__link::after {
    display: none;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.header__link:hover::after {
    display: block;
}

.header__link-target {
    color: #FAFAFA;
}

/* Not Only */

.notOnly {
    margin-top: 6rem;
    display: flex;
}

.notOnly__content {
    width: 38.3%;
    margin-right: 4.2rem;
}

.notOnly__description {
    margin-top: 16.3rem;
}

.notOnly__title {
    font-size: 4.4rem;
    color: #fff;
    max-width: 31rem;
}

.notOnly__text {
    margin: 4.2rem 0 0;
    font-size: 1.5rem;
    color: #CDCDCD;
}

.notOnly__description a {
    margin-top: 4.2rem;
}

.notOnly__photo {
    width: 58.1%;
}

/* Buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    color: #292929;
    background-color: #F1CDB3;
    padding: 1.5rem 4.5rem;
    font-size: 1.7rem;
    border-radius: 10rem;

    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #FDDCC4;
}



