/* Fonts */

@font-face {
    font-family: "Gelasio";
    src: url(./../../assets/fonts/Gelasio/Gelasio-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gelasio";
    src: url(./../../assets/fonts/Gelasio/Gelasio-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gelasio";
    src: url(./../../assets/fonts/Gelasio/Gelasio-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Arimo";
    src: url(./../../assets/fonts/Arimo/Arimo-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arimo";
    src: url(./../../assets/fonts/Arimo/Arimo-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Arimo";
    src: url(./../../assets/fonts/Arimo/Arimo-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Standart Reset Styles */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Arial, "Arimo", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Gelasio", serif;
    line-height: 1.3;
    font-weight: 400;
}

p {
    margin: 0 0 1rem;
    line-height: 1.6;
}

/* Grid */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    color: #292929;
    background-color: #F1CDB3;
    padding: 1.4rem 4.4rem;
    font-family: Georgia, "Gelasio", serif;
    font-size: 1.7rem;
    border-radius: 10rem;
    line-height: 1.3;
    letter-spacing: 0.06em;

    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #FDDCC4;
}

.btn-lrn {
    background-color: transparent;
    border: 2px solid #F1CDB3;
    padding-bottom: 1.1rem;

    transition: background-color 0.2s, border-color 0.2s;
}

.btn-lrn:hover, .btn-slider:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
    cursor: pointer;
}

/* Intro */

.intro {
    height: 12rem;
    padding: 3rem 0;
    background-color: #fff;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.header a{
    text-decoration: none;
    text-align: center;
}

.header__logo {
    font-size: 3.2rem;
    color: #545454;
    line-height: 1.1;
    letter-spacing: 0.06em;
}

.header__sublogo {
    font-size: 1.3rem;
    color: #292929;
    line-height: 1.15;
    margin: 1rem 0 0 0;
    letter-spacing: 0.1em;
}

.header__nav ul {
    letter-spacing: -0.36em;
    font-size: 0;
}

.header__nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 1.75rem;
    margin-top: -0.2rem;
    margin-left: 0.1rem;
}

.header__nav ul li .header__link-target.header__link::after {
   display: block;
}

.header__nav ul li:last-child {
    padding-right: 0;
}

.header__link {
    position: relative;
    color: #545454;
    font-size: 1.5rem;
    line-height: 1.6;

    transition: color 0.2s;
}

.header__link:hover {
    color: #292929;
}

.header__link::after {
    display: none;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #F1CDB3;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.header__link:hover::after {
    display: block;
}

.header__link-target {
    color: #292929;
}

/* Our Friends */

.our-friends {
    background-color: #F6F6F6;
}

.our-friends__inner {
    padding: 8rem 0 4.2rem;
    text-align: center;
}

.our-friends__title {
    max-width: 40rem;
    margin: 0 auto;
    font-size: 3.5rem;
    color: #545454;
    text-align: center;
    letter-spacing: 0.06em;
}

.our-friends__slider {
    margin: 6rem 0 5.8rem;
}

.our-friends__slider-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.our-friends__item {
    margin-bottom: 3rem;
}

.our-friends__card {
    width: 27rem;
    height: 43.5rem;
    background-color: #FAFAFA;
    border-radius: 0.9rem;
}

.our-friends__card:hover {
    cursor: pointer;
}

.our-friends__card:hover .our-friends__info {
    background-color: #fff;
}

.our-friends__photo {
    position: relative;
    width: 27rem;
    height: 27rem;
    overflow: hidden;
    border-radius: 0.9rem 0.9rem 0 0;
}

.our-friends__photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-friends__photo img.scale {
    transform: translate(-50%, -50%) scale(0.875);
}

.our-friends__info {
    text-align: center;
    height: 16.5rem;
    border-radius: 0 0 0.9rem 0.9rem;

    transition: background-color 0.2s;
}

.our-friends__name {
    font-family: Georgia, "Gelasio", serif;
    padding-top: 2.85rem;
    margin-bottom: 3.1rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.08em;
    padding-left: 0.3rem;
}

/* Our Friends Keyboard */

.our-friends__slider-buttons {
    max-width: 34rem;
    margin: 2.85rem auto 0;
}

.our-friends__slider-keyboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-friends__btn {
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    background-color: transparent;
    color: #292929;
    font-family: Georgia, "Gelasio", serif;
    line-height: 1.15;
    font-size: 2rem;
    cursor: pointer;

}

.our-friends__btn span {
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-48%, -49%);
}

.our-friends__btn:disabled {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: auto;
}

.our-friends__pagination {
    position: relative;
    width: 5.2rem;
    height: 5.2rem;
    background-color: #F1CDB3;
    border-radius: 50%;
}

.our-friends__pagination-number {
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-48%, -49%);
    font-family: Georgia, "Gelasio", serif;
    line-height: 1.15;
    font-size: 2rem;
    cursor: default;
}

/* Footer */

.footer {
    height: 35rem;
    padding-top: 4rem;
    background: url(./../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%), rgb(33, 31, 32);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__content {
    font-style: normal;
}

.footer__content_map {
    max-width: 30rem;
}

.footer__title {
    max-width: 28rem;
    margin-top: 1.6rem;
    font-size: 3.5rem;
    letter-spacing: 0.06em;
    color: #fff;
}

.footer__email, .footer__phone, .footer__address {
    display: flex;
    align-items: center;
    text-decoration: none;

    margin-top: 4rem;
}

.footer__email-name, .footer__phone-number, .footer__address-name {
    font-family: Georgia, "Gelasio", serif;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: #F1CDB3;

    margin-left: 2rem;
}

.footer__email:hover .footer__email-name, .footer__phone:hover .footer__phone-number, .footer__address:hover .footer__address-name  {
    text-decoration: underline;
}

.footer__address {
    margin-top: 3.3rem;
    margin-left: -0.1rem;
}

.footer__address:last-child {
    margin-top: 3.2rem;
}

